// Home menu
$cursor-road: #3dd6d0;
$hamburger-park: #648de5;
$wip: #e65f5c;

// Hamburgers
$hamburger-chungiyoo-primary: #b8b3e9;
$hamburger-chungiyoo-secondary: #000;

$hamburger-collage-primary: #d35269;
$hamburger-collage-secondary: #000;
