// Home menu
$cursor-road: #3dd6d0;
$hamburger-park: #648de5;
$transition-street: #657153;
$wip: #e65f5c;

// Hamburgers
$hamburger-chungiyoo-primary: #b8b3e9;
$hamburger-chungiyoo-secondary: #000;

$hamburger-collage-primary: #d35269;
$hamburger-collage-secondary: #000;

// Transitions
$transition-green: #849324;
$transition-yellow: #FFB30F;
$transition-blue: #037171;
$transition-dark: #12355B;